body {
    margin: 0;
    padding: 0;
}

div {
    margin:0px;
    padding:0px;
    background-color: yellow;
    width:33%;
    float:left;

}

img {
    width:200px;
    margin:15px;
    border: 5px solid #000;
    border-radius:100px;
}