body {
  background: rgb(136,191,232);
  background: -moz-linear-gradient(-45deg,  rgba(136,191,232,1) 0%, rgba(117,148,234,1) 100%);
  background: -webkit-linear-gradient(-45deg,  rgba(136,191,232,1) 0%,rgba(117,148,234,1) 100%);
  background: linear-gradient(135deg,  rgba(136,191,232,1) 0%,rgba(117,148,234,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#88bfe8', endColorstr='#7594ea',GradientType=1 );
}

/* BOARD */

#chessboard {
  background-color: white;
  position:absolute;
  width:600px;
  height:600px;
  left:50%;
  top:50%;
  margin-left:-300px;
  margin-top:-300px;
  border: 5px solid black;

  -webkit-box-shadow: 10px 10px 75px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 75px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 75px 0px rgba(0,0,0,0.75);
}

#chessboard > div {
  width: 75px;
  height: 75px;
  float: left;
  font-size: 70px;
  vertical-align: middle;
  line-height: 75px;
  text-align: center;
  background-color: white;
  cursor: pointer;
}

#chessboard > div.active { color: gold;}

#chessboard > div[data-y="8"]:nth-of-type(odd),
#chessboard > div[data-y="7"]:nth-of-type(even),
#chessboard > div[data-y="6"]:nth-of-type(odd),
#chessboard > div[data-y="5"]:nth-of-type(even),
#chessboard > div[data-y="4"]:nth-of-type(odd),
#chessboard > div[data-y="3"]:nth-of-type(even),
#chessboard > div[data-y="2"]:nth-of-type(odd),
#chessboard > div[data-y="1"]:nth-of-type(even)
{ background-color: gray; }

/* PIECES */
#chessboard > div[data-piece="bt"]:before {content:"♜";}
#chessboard > div[data-piece="bh"]:before {content:"♞";}
#chessboard > div[data-piece="bb"]:before {content:"♝";}
#chessboard > div[data-piece="bq"]:before {content:"♛";}
#chessboard > div[data-piece="bk"]:before {content:"♚";}
#chessboard > div[data-piece="bp"]:before {content:"♟";}
#chessboard > div[data-piece="wt"]:before {content:"♖";}
#chessboard > div[data-piece="wh"]:before {content:"♘";}
#chessboard > div[data-piece="wb"]:before {content:"♗";}
#chessboard > div[data-piece="wq"]:before {content:"♕";}
#chessboard > div[data-piece="wk"]:before {content:"♔";}
#chessboard > div[data-piece="wp"]:before {content:"♙";}
