h1 {
    font-size: 18px;
    text-align: center;
    background: -webkit-linear-gradient(#ddd, #212);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

body {
    background: #8000;
    background-image: url(https://robertsspaceindustries.com/media/2cbls6qw6yokdr/post_section_header/StoddardResearchCenter.jpg);
    background-repeat: no-repeat;
}


p {
    font-size: 12px
    color: #9090;
}


nav {
    border: 3px solid black;
    color: blue;
}

ul {
    
}

ol {
    
}