<h1>
  CIST 1300-002 Course Syllabus<br>
  <small>Introduction to Web Development, Spring 2017</small>
</h1>
<table class="table table-striped table-condensed table-firstbold">
  <thead>
    <tr>
      <th colspan='2'>General Information</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Time</td>
      <td>Tuesdays and Thursdays 12:00 PM - 1:15 PM</td>
    </tr>
    <tr>
      <td>Room</td>
      <td>PKI 276</td>
    </tr>
    <tr>
      <td>Instructor</td>
      <td>
        Alexander Fuchsberger
        <small>
        (<a href="mailto:afuchsberger@unomaha.edu">
          <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
          afuchsberger@unomaha.edu
        </a>)</small>
      </td>
    </tr>
    <tr>
      <td>Office hours</td>
      <td>Tuesday and Thursdays 10:15 AM - 11:45 AM, Room: PKI 372</td>
    </tr>
    <tr>
      <td>On-Line Materials</td>
      <td>
        External course materials are linked through this online syllabus.<br>
        In-class coding examples are available here: <a href="https://ide.c9.io/fuchsberger/cist1300" target='_blank'>https://ide.c9.io/fuchsberger/cist1300</a> (requires completed Cloud9-Assignment)<br>
        Grading is managed through the grading sheet accessible in the top right corner of this syllabus. This will replace blackboard as grading plattform.
      </td>
    </tr>
    <tr>
      <td>Textbook</td>
      <td>No textbook is required for this class.</td>
    </tr>
    <tr>
      <td>Final Exam</td>
      <td>There will be no final exam during finals week.</td>
    </tr>
    <tr>
      <td>Overview</td>
      <td>
        In this course, we will learn how to create static web pages using HTML5, CSS and JavaScript.
        We will also learn how to make use of a popular styling library (Bootstrap), in order to create
        visually professional looking, mobile-friendly websites. We will further cover a powerful JavaScript
        library (jQuery) to make web applications and games like chess, snake and more.
      </td>
    </tr>
    <tr>
      <td>Prerequisite</td>
      <td>MATH 1310 (or equivalent) is required. Previous experience in programming, data structures and/or fast keyboard typing will come in handy.</td>
    </tr>
    <tr>
      <td>Students with Disabilities</td>
      <td>Accommodations are provided for students who are registered with Disability Services and make their
        requests sufficiently in advance.  For more information, contact Disability Services
        (EAB 117, Phone: 554-2872, TTY: 554-3799) or go to the
        <a href='http://www.unomaha.edu/disability' target='_blank'>website</a>.
      </td>
    </tr>

    <tr>
      <td>Accreditation</td>
      <td>The CS and IS programs in the College of IS&T are currently pursuing continued accreditation by ABET,
        the Accreditation Board for Engineering and Technology.  This organization requires that we keep samples
        of student work.  Unless you specify otherwise in writing, I may retain a copy of your exams and assignments
        <i>(with your name and any other identifying information removed)</i> for accreditation purposes and return the
        original back to you.</td>
    </tr>
  </tbody>
</table>