<h2 id='grading'>Grading</h2>
<div class="alert alert-warning" role="alert">
  <strong>Grade Disputes:</strong> It is your responsibility to keep track of your grade.
  You have up to two weeks after you receive the grade for a program, quiz or exam to dispute or
  otherwise address grades you consider to be recorded incorrectly.  After two weeks have passed,
  grades will stand as recorded.
</div>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>Position</th>
      <th>Score</th>
      <th>Relative</th>
    </tr>
  </thead>
  <tbody>
    <tr class='bold'>
      <td>Code Academy Tutorials</td>
      <td>200</td>
      <td>20%</td>
    </tr>
    <tr class='small'>
      <td>Tutorials: Learn HTML/CSS Unit 1-9</td>
      <td>90</td>
      <td></td>
    </tr>
    <tr class='small'>
      <td>Tutorials: JavaScript Unit 1-8</td>
      <td>80</td>
      <td></td>
    </tr>
    <tr class='small'>
      <td>Tutorials: jQuery Unit 1-5</td>
      <td>30</td>
      <td></td>
    </tr>
    <!-- ASSIGNMENTS -->
    <tr class='bold'>
      <td>Assignments</td>
      <td>500</td>
      <td>50%</td>
    </tr>
    <tr class='small'>
      <td>Setting up Cloud9</td>
      <td>10</td>
      <td></td>
    </tr>
    <tr class='small'>
      <td>Setting up CodeAcademy Account</td>
      <td>10</td>
      <td></td>
    </tr>
    <tr class='small'>
      <td>Topic ReadMe</td>
      <td>20</td>
      <td></td>
    </tr>
    <tr class='small'>
      <td>Website (HTML + CSS Solution)</td>
      <td>150</td>
      <td></td>
    </tr>
    <tr class='small'>
      <td>Website (Bootstrap Solution)</td>
      <td>100</td>
      <td></td>
    </tr>
    <tr class='small'>
      <td>JavaScript / jQuery Assignment</td>
      <td>50</td>
      <td></td>
    </tr>
    <tr class='small'>
      <td>JavaScript / jQuery Game</td>
      <td>150</td>
      <td></td>
    </tr>
    <tr class='small'>
      <td>Survey</td>
      <td>10</td>
      <td></td>
    </tr>
    <tr class='bold'>
      <td>Quizzes</td>
      <td>200</td>
      <td>20%</td>
    </tr>
    <tr class='small'>
      <td>Quiz 1 - HTML/CSS Part 1</td>
      <td>40</td>
      <td></td>
    </tr>
    <tr class='small'>
      <td>Quiz 2 - HTML/CSS Part 2</td>
      <td>40</td>
      <td></td>
    </tr>
    <tr class='small'>
      <td>Quiz 3 - Bootstrap</td>
      <td>40</td>
      <td></td>
    </tr>
    <tr class='small'>
      <td>Quiz 4 - JavaScript / jQuery Part 1</td>
      <td>40</td>
      <td></td>
    </tr>
    <tr class='small'>
      <td>Quiz 5 - JavaScript / jQuery Part 2</td>
      <td>40</td>
      <td></td>
    </tr>
    <tr>
      <td>
        <strong>Attendance</strong><br>
        <small>Attendance is mandatory. A student can miss a maximum of 2 classes without penalty. A student starts with full attendance score at the beginning of the semester. The score gets reduced according to the following formula: Score = 100 * (AttendedClasses + 2) / TotalClasses. The maximum reachable score is 100.</small>
      </td>
      <td><strong>100</strong></td>
      <td><strong>10%</strong></td>
    </tr>
  </tbody>
  <tfoot>
    <tr class='bold'>
      <td>Total</td>
      <td>1000</td>
      <td>100%</td>
    </tr>
  </tfoot>
</table>

<h3>Grading Scale</h3>
<div class="alert alert-warning" role="alert">
  <strong>Warning:</strong> Passing grade for Engineering, Education, Business = <strong>C</strong><br>
  Passing grade for College of IS&Arts & Sciences = <strong>C-</strong>
</div>
<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th>Letter Grade</th>
      <th>Total Score</th>
      <th>GPA</th>
      <th>Letter Grade</th>
      <th>Total Score</th>
      <th>GPA</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>A+</td>
      <td>970 - 1000</td>
      <td>4.0</td>
      <td>C+</td>
      <td>770 - 799</td>
      <td>2.33</td>
    </tr>
    <tr>
      <td>A</td>
      <td>930 - 969</td>
      <td>4.0</td>
      <td>C</td>
      <td>730 - 769</td>
      <td>2.0</td>
    </tr>
    <tr>
      <td>A-</td>
      <td>900 - 929</td>
      <td>3.67</td>
      <td>C-</td>
      <td>700 - 729</td>
      <td>1.67</td>
    </tr>
    <tr>
      <td>B+</td>
      <td>870 - 899</td>
      <td>3.33</td>
      <td>D+</td>
      <td>670 - 699</td>
      <td>1.33</td>
    </tr>
    <tr>
      <td>B</td>
      <td>830 - 869</td>
      <td>3.0</td>
      <td>D</td>
      <td>630 - 669</td>
      <td>1.0</td>
    </tr>
    <tr>
      <td>B-</td>
      <td>800 - 829</td>
      <td>2.67</td>
      <td>D-</td>
      <td>600 - 629</td>
      <td>0.67</td>
    </tr>
    <tr>
      <td>F</td>
      <td>0 - 599</td>
      <td>0</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>