<h2 id='instructor'>Instructor</h2>
<div class='well media'>
  <div class="media-left">
    <img class="media-object pull-right" src="img/me.jpg" alt="Picture" height='209' width='150'>
    <h3>Alexander Fuchsberger<small>, MS. MA.</small></h3>
    <p>
      <a href="mailto:afuchsberger@unomaha.edu">
        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
        afuchsberger@unomaha.edu
      </a>
      &#9702;
      <a href="https://www.linkedin.com/in/alexander-fuchsberger-88452382" target='_blank'>
        <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
        LinkedIn
      </a>
    </p>
    <p>
      Alexander W. Fuchsberger was born in Innsbruck, Austria, in 1989.
      He received his B.S. degree in Management and Economics at the Leopold-Franzens
      University in Innsbruck in 2012. In 2014, he received his M.A. in Management,
      Communication and Technology at the Management Center Innsbruck, and his M.S.
      in Management of Information Systems at University of Nebraska, Omaha.
      Alexander is currently a Ph.D. student in Information Technology at the
      University of Nebraska at Omaha. His research interests include Web Development,
      Crowd Simulation, as well as Game Development and Artificial Intelligence.
    </p>
    <p>
      Alexander has more than 10 years of experience with web development, including
      languages like CSS, PHP, Python, C/C++, Elixir. He has used libraries and
      content management systems like JQuery, Sails, CakePHP, Wordpress, Joomla, Phoenix,
      Bootstrap or AngularJS extensively in projects. He further freelances as a
      web-developer and has a special interest in developing Browser-Games.
    </p>
  </div>
</div>