<section id='quizzes'>
<h3>Quizzes</h3>
<p style='font-weight:bold;'>
    <span style='color:#AD0000'>Submission Deadline:</span> see schedule<br>
    <span style='color:#1700AD'>Maximum Score:</span> 40 (each quiz) * 5 (# of quizzes) = 200<br>
    Submission via: <span style='font-weight:normal;'>Blackboard</span>
</p>
<p>Quizzes are intended to test the students ability to comprehend the information and programming skills learned.
Additionally to understanding the concepts, students need to accumulate experience in programming to achieve high
scores in the quizzes.
Quizzes are made available in-class at the specified date (usually at the end of the lecture).</p>
<ul>
  <li><strong>Duration:</strong> 20 minutes</li>
  <li><strong>Type:</strong> Multiple-choice (4 answers, one is correct)</li>
  <li><strong>Questions:</strong> Each student gets 20 random questions out of a pool of about 70 questions.
  Each correct answer yields 2 points.</li>
</ul>

<strong>Rules</strong>
<ul>
  <li>If students misses an in-class quiz and has given the instructor a valid excuse <strong>before the class</strong>,
      they can retake the quiz at a later point (within one week).
      The quiz will have to be taken during office hours at the instructor's office.
      This will not result in a reduction of the score if the excuse is acceptable.
  </li>
  <li>Failing to take the quiz within one week after the original date is evaluated with a score of 0</li>
</ul>
