<h2 id='rules'>Rules</h2>
<div class="alert alert-info" role="alert">
  <strong>Attention!</strong> By taking this class, the student agrees to the following rules / policies.<br>
  These rules / policies apply additionally to any other instructions given in class or in this syllabus.
</div>

<strong>Assignments</strong>
<ul>
  <li>If not specified otherwise, the assignment is due to 10:00 AM on the specified date (beginning of class).</li>
  <li>Missing an Assignment deadline by 1 minute to 72 hours results in a reduced score by 25%.</li>
  <li>Missing an Assignment deadline by more than 72 hours results in a score of 0 for the assignment.</li>
</ul>

<strong>Attendance</strong>
<ul>
  <li>
    Attendance is mandatory and the score is automatically calculated based on the number classes you have attended/missed. If individual students repeatitively come late / go early, the instructor reserves the right to refuse accrediting attendance for classes where such incidents occured.
  </li>
</ul>

<strong>Cellular Phone / Wireless Internet Access Policy</strong>
<ul>
  <li>
    Turn all cellular phones off or set them to vibrate so as not to disrupt the class during lecture.
    If you must take a call, please leave the room as quickly and quietly as possible.
    Also, please do not surf the web or otherwise play with your wireless phone during class.
    It distracts me as well as your fellow classmates. If you bring a laptop or other wireless-enabled
    device and plan to use it during class (for wireless access or not), you are asked to sit in the back
    row of the room so that you don't distract others in the class. If laptop use becomes disruptive during
    the semester, they may be banned from the classroom.
  </li>
</ul>

<strong>Honor Pledge</strong>
<ul>
  <li>
    For each assignment you submit via Blackboard, Email, Cloud9 or Code Academy,
    you agree that you have not obtained any code or answers directly from any
    of your fellow students or other sources, and that any code you have
    used from elsewhere has been used in small amounts and has been properly cited.<br>
    Information regarding the CIST 1300 Honor Pledge will be provided to you during an upcoming class.<br>
  </li>
</ul>

<h3 id='plagiarism'>Plagiarism</h3>
<ul>
  <li>
    Any homework, program, quiz or exam received which looks identical, in part or in whole,
    to another student’s work or an external source will be considered plagiarism.
  </li>
  <li>
    As per the Department
    of Computer Science Policy on Cheating and Plagiarism, the instructor of a course is responsible for
    “assigning an evaluation (or grade point) to the work that is substantially lower than if the work had
    not been completed at all” for occurrences of plagiarism.”
  </li>
  <li>
    Any offense of plagiarism will result in a score of 0 for the specific assignment for the first offense
    and a grade of “F” for the course for the second offense, both accompanied by a written letter
    to the Associate Vice Chancellor for Student Affairs, the Associate Directory of Records and Registration,
    the Dean of the College of IS&T and the chair of both the computer science department and your major's
    department, and possibly the pursuance of your dismissal from the University.
    <strong>Further the instructor may apply a score penalty of 0 to -100 to the overall class score, depending on the severity of the plagiarism.</strong>
  </li>
  <li>
    If you are suspected of submitting or enabling a plagiarized assignment, you will have the opportunity
    to meet with the instructor to discuss your situation before disciplinary actions are possibly pursued.
  </li>
  <li>
    Ignorance of how to properly cite your sources correctly or present work as your own is not an acceptable
    excuse for plagiarism.  You will be provided with instructions on how to cite sources.
  </li>
  <li>
    Please make sure you keep all of your work secured and unavailable from your fellow students.
    If someone takes your code, even without your knowledge or consent, and submits it in modified or
    unmodified form, you will both be penalized for plagiarism.
  </li>
  <li>
    All material should be your own work.  You may use* code or algorithms from any source in extremely
    small amounts, but bear in mind that failure to explicitly give proper credit is a form of plagiarism.
  </li>
</ul>

<strong>“Using code”</strong>
<ul>
  <li>is including code in your program in either unmodified or modified form.  It’s always safer to cite
  your influences than to take a chance on committing plagiarism by not giving proper credit.</li>
  <li>does not refer to the wholesale use of someone else’s code for programs or projects without significant
  work on the student’s part.</li>
  <li>“Using code” does not mean you may solicit or submit solutions from websites.</li>
</ul>

<strong>The following definitions of plagiarism and related offenses are taken from the University of Nebraska at Omaha Undergraduate Catalog 2010-2011, page 56 (http://j.mp/unouc1011):</strong>
<ol>
  <li><strong>Cheating.</strong> Copying or attempting to copy from an academic test or examination of
    another student; using or attempting to use unauthorized materials, information, notes, study aids
    or other devices for an academic test, examination or exercise; engaging or attempting to engage
    the assistance of another individual in misrepresenting the academic performance of a student; or
    communicating information in an unauthorized manner to another person for an academic test, examination or exercise.</li>
  <li><strong>Fabrication and falsification.</strong> Falsifying or fabricating any information or citation in any
    academic exercise, work, speech, test or examination. Falsification is the alteration of information, while
    fabrication is the invention or counterfeiting of information.</li>
  <li><strong>Plagiarism.</strong> Presenting the work of another as one’s own (i.e., without proper acknowledgment
    of the source) and submitting examinations, theses, reports, speeches, drawings, laboratory notes or other academic
    work in whole or in part as one’s own when such work has been prepared by another person or copied from another person.</li>
  <li><strong>Complicity in academic dishonesty.</strong> Helping or attempting to help another student to commit an act of academic dishonesty.</li>
</ol>
