<h2 id='systems'>Systems</h2>
<p>In this section you will find a general overview on how we use the
available systems.</p>
<table class='table table-condensed table-striped firstbold'>
  <thead>
    <tr>
      <th>System</th>
      <th>Primary Usage</th>
      <th>Submission</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>This Online-Syllabus</td>
      <td>Instructions & viewing grades</td>
      <td>-</td>
    </tr>
    <tr>
      <td>Blackboard</td>
      <td>Announcements, Quizzes, aquire student ID number</td>
      <td>quizzes, course evaluation</td>
    </tr>
    <tr>
      <td>Instructor's public Cloud9 Environment (cist1300)</td>
      <td>class materials & exercises</td>
      <td>-</td>
    </tr>
    <tr>
      <td>Instructor's public Cloud9 Environment (cist1300-class)</td>
      <td>group participation & exercises (if needed)</td>
      <td>-</td>
    </tr>
    <tr>
      <td>Student's private Cloud9 Environment (assignments)</td>
      <td>assignments, individual learning</td>
      <td>Assignments</td>
    </tr>
    <tr>
      <td>Code Academy</td>
      <td>class preparation, individual learning</td>
      <td>Tutorials</td>
    </tr>
  </tbody>
</table>
