<section id='tutorials'>
<h3>Tutorials</h3>
<p style='font-weight:bold;'>
    <span style='color:#AD0000'>Submission Deadline:</span> see schedule<br>
    <span style='color:#1700AD'>Maximum Score:</span> 10 per unit (default) or 6 per unit (jQuery)<br>
    Submission via: <span style='font-weight:normal;'>CodeAcademy</span>
</p>
<div class="alert alert-info" role="alert">
  <p>
    <strong>Info:</strong>
    Tutorials are due to the specified due date, however the instructor may evaluate the completion
    to a later point in time (usually when all units of a tutorial are completed).<br>
    This gives the students some flexibility when to go through the units.
    However the tutorials are meant to prepare the students for the class.
    Should the students fail to prepare the tutorials for class, the instructor reserves
    the right to evaluate the completion of units at the specific due date.
  </p>
</div>

<div class="alert alert-warning" role="alert">
  <p>
    <strong>Warning:</strong>
    Do not confuse the following Tutorials:</p>
  <ul>
    <li>"Learn HTML/CSS" and "HTML/CSS". --> <strong>Learn HTML/CSS</strong> is the correct one.</li>
    <li>"Learn JavaScript" and "JavaScript" --> <strong>JavaScript</strong> is the correct one.</li>
  </ul>
</div>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Learn HTML / CSS <small>(10 points per unit)</small>
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <p><a href='https://www.codecademy.com/learn/web' target='_blank'>Overview</a> - Learn how to create websites by structuring and styling your pages with HTML and CSS.</p>
        <ul>
          <li>
            Unit 1 - HTML Fundamentals
            <a href='https://www.codecademy.com/courses/learn-html-css/lessons/structure/resume' target='_blank'>Structure</a>
          </li>
          <li>
            Unit 2 - HTML Content
            <a href='https://www.codecademy.com/courses/learn-html-css/lessons/common-elements/resume' target='_blank'>Common HTML Elements</a>
          </li>
          <li>
            Unit 3 - CSS Fundamentals
            <a href='https://www.codecademy.com/courses/learn-html-css/lessons/css-setup/resume' target='_blank'>The CSS Setup</a>,
            <a href='https://www.codecademy.com/courses/learn-html-css/lessons/css-structure-syntax/resume' target='_blank'>Basic CSS Structure & Syntax</a>
          </li>
          <li>
            Unit 4 - Styling with CSS
            <a href='https://www.codecademy.com/courses/learn-html-css/lessons/css-colors/resume' target='_blank'>Colors</a>,
            <a href='https://www.codecademy.com/courses/learn-html-css/lessons/css-fonts/resume' target='_blank'>Fonts</a>
          </li>
          <li>
            Unit 5 - Organizing HTML & CSS
            <a href='https://www.codecademy.com/courses/learn-html-css/lessons/ids-classes-divs/resume' target='_blank'>Classes, IDs, & Divs</a>
          </li>
          <li>
            Unit 6 - The CSS Box Model
            <a href='https://www.codecademy.com/courses/learn-html-css/lessons/box-model/resume' target='_blank'>Understanding the Box Model</a>,
            <a href='https://www.codecademy.com/courses/learn-html-css/lessons/borders/resume' target='_blank'>Borders</a>,
            <a href='https://www.codecademy.com/courses/learn-html-css/lessons/content/resume' target='_blank'>Content</a>,
            <a href='https://www.codecademy.com/courses/learn-html-css/lessons/new-box-model/resume' target='_blank'>Changing the Box Model</a>
          </li>
          <li>
            Unit 7 - CSS Positioning
            <a href='https://www.codecademy.com/courses/learn-html-css/lessons/layout/resume' target='_blank'>Layout</a>
          </li>
          <li>
            Unit 8 - Images
            <a href='https://www.codecademy.com/courses/learn-html-css/lessons/adding-images/resume' target='_blank'>Adding Images</a>
          </li>
          <li>
            Unit 9 - HTML Tables
            <a href='https://www.codecademy.com/courses/learn-html-css/lessons/tables/resume' target='_blank'>Tables</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          JavaScript <small>(10 points per unit)</small>
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <p><a href='https://www.codecademy.com/learn/javascript' target='_blank'>Overview</a> - Learn the fundamentals of JavaScript, the programming language of the Web.</p>
        <ul>
          <li>
            Unit 1 - Introduction to Web Development
            <a href='https://www.codecademy.com/en/courses/getting-started-v2' target='_blank'>Getting Started with Programming</a>,
            <a href='https://www.codecademy.com/en/courses/javascript-beginner-en-x9DnD' target='_blank'>Code Your Own Adventure!</a>
          </li>
          <li>
            Unit 2 - Functions
            <a href='https://www.codecademy.com/en/courses/javascript-beginner-en-6LzGd' target='_blank'>Introduction to Functions in JS</a>,
            <a href='https://www.codecademy.com/en/courses/javascript-beginner-en-Bthev-mskY8' target='_blank'>Build "Rock, Paper, Scissors"</a>
          </li>
          <li>
            Unit 3 - For Loops in JavaScript
            <a href='https://www.codecademy.com/en/courses/javascript-beginner-en-NhsaT' target='_blank'>Introduction to 'For' Loops in JS</a>,
            <a href='https://www.codecademy.com/en/courses/javascript-beginner-en-XEDZA' target='_blank'>Search Text for Your Name</a>
          </li>
          <li>
            Unit 4 - While loops in Javascript
            <a href='https://www.codecademy.com/en/courses/javascript-beginner-en-ASGIv' target='_blank'>Introduction to 'While' Loops in JS</a>,
            <a href='https://www.codecademy.com/en/courses/javascript-beginner-en-mrTNH-6VIZ9' target='_blank'>Dragon Slayer!</a>
          </li>
          <li>
            Unit 5 - Control Flow
            <a href='https://www.codecademy.com/en/courses/javascript-beginner-en-qDwp0' target='_blank'>More on Control Flow in JS</a>,
            <a href='https://www.codecademy.com/en/courses/javascript-beginner-en-ZA2rb' target='_blank'>Code Your Own Adventure 2!</a>
          </li>
          <li>
            Unit 6 - Data Structures
            <a href='https://www.codecademy.com/en/courses/javascript-beginner-en-9Sgpi' target='_blank'>Arrays and Objects in JS</a>,
            <a href='https://www.codecademy.com/en/courses/javascript-beginner-en-3bmfN' target='_blank'>Contact List</a>
          </li>
          <li>
            Unit 7 - Objects I
            <a href='https://www.codecademy.com/en/courses/spencer-sandbox' target='_blank'>Introduction to Objects I</a>,
            <a href='https://www.codecademy.com/en/courses/building-an-address-book' target='_blank'>Building an Address Book</a>
          </li>
          <li>
            Unit 8 - Objects II
            <a href='https://www.codecademy.com/en/courses/objects-ii' target='_blank'>Introduction to Objects II</a>,
            <a href='https://www.codecademy.com/en/courses/close-the-super-makert' target='_blank'>Building a Cash Register</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          jQuery <small>(6 points per unit)</small>
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        <p><a href='https://www.codecademy.com/learn/jquery' target='_blank'>Overview</a> - Learn how to make your websites interactive and create animations by using jQuery.</p>
        <ul>
          <li>
            Unit 1 - <a href='https://www.codecademy.com/en/courses/web-beginner-en-bay3D' target='_blank'>Introduction to jQuery</a>
          </li>
          <li>
            Unit 2 - <a href='https://www.codecademy.com/en/courses/web-beginner-en-GfjC6' target='_blank'>jQuery Functions and Selectors</a>
          </li>
          <li>
            Unit 3 - <a href='https://www.codecademy.com/en/courses/web-beginner-en-v6phg' target='_blank'>Dynamic HTML - Modifying HTML Elements</a>
          </li>
          <li>
            Unit 4 - <a href='https://www.codecademy.com/en/courses/web-beginner-en-JwhI1' target='_blank'>jQuery Events</a>
          </li>
          <li>
            Unit 5 - <a href='https://www.codecademy.com/en/courses/web-beginner-en-jtFIC' target='_blank'>jQuery Effects</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
</section>