/*!
 * This is a custom template for Bootstrap and has to be used in addition
 * to the original Bootstrap CSS (version 3.3.7)
 */

/* Custom Fonts */
@font-face {
  font-family: recharge;
  src: url(../fonts/recharge.ttf);
}

/* Basic Elements */
* { box-sizing: border-box; }

body {
  font-family: Recharge, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#E5E5E5;
  background:#091932 url("../images/nebula.jpg");
  padding: 70px 0;
  min-width: 992px;
  height:100%;
}

h1, .logo {
  text-align:center;
  text-transform: uppercase;
  background: -webkit-linear-gradient(#ff5959, #ffba1e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a:link, a:visited { color:#f0cf62; text-decoration: none; }
a:hover {color:#ff7f7f; }

#content {
  padding:25px;
  min-width:1024px;
  max-width:1600px;
  margin: 0 auto;
  left:-50%;
  text-align: justify;
  text-align-last: center;
}

#copyright {
  position:fixed;
  left: 0;
  bottom: 0;
  height: 100px;
  min-width:1024px;
  width:100%;

  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 75, rgba(0,0,0,1) 100%);
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 75%,rgba(0,0,0,1) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 75%,rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );

  font-size: 80%;
  color: #898989;
}

#copyright span {
  position:absolute;
  width: 100%;
  bottom:0px;
  text-align: center;
}

/* NAVBAR */

nav {
  position: fixed;
  left: 0;
  top:0;
  width:100%;
  height: 50px;

  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjYwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 60%, rgba(0,0,0,0) 100%);
  background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 60%,rgba(0,0,0,0) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 60%,rgba(0,0,0,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 );
  border:0;
  z-index: 1;
}

nav .logo {
  float: left;
  height: 50px;
  font-size: 18px;
  line-height: 20px;
  padding: 5px;
  margin-right:10px;
}

nav ul {
  list-style: none;
  margin: 7.5px -15px;
  display: block;
}
nav li {
  display: inline-block;
  margin-right: 10px;
  border-left: 10px solid #0096f5;
  padding-left: 5px;
}
nav li:hover, nav li.active{ border-color: #f0cf62; }

nav li a {
  text-transform: uppercase;
  color: #0096f5 !important;
  padding: 5px 25px !important;
  display: inline-block;
  background-repeat: no-repeat;
  background-image:
  linear-gradient(#0096f5, #0096f5),
  linear-gradient(#0096f5, #0096f5),
  linear-gradient(#0096f5, #0096f5),
  linear-gradient(#0096f5, #0096f5),
  linear-gradient(to bottom left,
  transparent calc(50% - 1px),
  #0096f5 calc(50% - 1px),
  #0096f5 calc(50% + 1px),
  #172533 calc(50% + 1px)),
  linear-gradient(#172533, #172533),
  linear-gradient(#172533, #172533);
  background-size: 2px 100%, 2px 100%, 100% 2px, 100% 2px, 15px 15px, 100% 100%, 100% 100%;
  background-position: 0% 0%, 100% 15px, -15px 0%, 0px 100%, 100% 0%, -15px 0%, 100% 15px;
}

nav li.active a{
  color: #f0cf62 !important;
  background-image:
  linear-gradient(#f0cf62, #f0cf62),
  linear-gradient(#f0cf62, #f0cf62),
  linear-gradient(#f0cf62, #f0cf62),
  linear-gradient(#f0cf62, #f0cf62),
  linear-gradient(to bottom left,
  transparent calc(50% - 1px),
  #f0cf62 calc(50% - 1px),
  #f0cf62 calc(50% + 1px),
  #172533 calc(50% + 1px)),
  linear-gradient(#172533, #172533),
  linear-gradient(#172533, #172533) !important;
}
